extends layout

block content
	div(style="text-align:center")
		a(href="/")
			img(src='/images/scribeline.png')
		br
		br
		h3 Register
		br
		div(class="col-md-4")
		div(class="col-md-4")
			br
			form(action="/signup", method="POST")
				input(type='text', name='username', placeholder='username', id='username', class='form-control')
				br
				input(type='email', name='email', placeholder='email', id='email', class='form-control')
				br
				input(type='password', name='password', placeholder='password', id='password', class='form-control')
				br
				input(type='submit', id='submit', style="width:80%", class='btn btn-danger', value="Sign Up")
		div(class="col-md-4")
