extends layout

block content
	div(style="text-align:center")
		a(href="/")
			img(src='/images/scribeline.png')
		br
		br
		p Simplify your life by making note-taking and outline creation second nature with Scribeline.
		br
		br
		a(class='btn btn-success', href="/start")
			i(class="fa fa-book")
			|     Get Started
		| &nbsp; &nbsp; &nbsp;
		a(class='btn btn-success', href="/signin")
			i(class="fa fa-sign-in")
			|     Sign In
