doctype html
html
	head
		title Scribeline
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
		link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css", rel="stylesheet")
	body

		.container-fluid
			block content
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

		if flash
			script(src="/javascript/jquery.floatingmessage.min.js")
			script
				| // Get flashed messages
				| $( document ).ready(function() {
				| 	$.floatingMessage("<b>#{flash}</b>",{
				| 		time:3000,
				| 		position : "top-right",
				| 		show : "fold",
				| 		hide : "explode",
				| 		stuffEaseTime : 500,
				| 		stuffEasing : "swing",
				| 		moveEaseTime : 200,
				| 		moveEasing   : "easeInExpo"
				| 	});
				| });
