extends layout

block content
    div(class="pull-right")
        a(href="/logout")
            | Log Out

    div(style="text-align:center")
        a(href="/")
            img(src='/images/scribeline.png')
        br
        br
        a(class='btn btn-success', id="saveFile" href="javascript:void();")
            i(class="fa fa-book")
                |     Save
        &nbsp; &nbsp; &nbsp;
        a(class='btn btn-danger', id="newFile", href="javascript:void();")
            i(class="fa fa-file-text")
            |     New
        &nbsp; &nbsp; &nbsp;
        a(class='btn btn-warning', id="openFile", href="javascript:void();")
            i(class="fa fa-file-text")
            |     Open
        &nbsp; &nbsp; &nbsp;
        a(class='btn btn-primary', id="openSettings", href="javascript:void();")
            i(class="fa fa-gear")
            |     Settings
        &nbsp; &nbsp; &nbsp;
        a(class='btn btn-info', id="openHelp", href="javascript:void();")
            i(class="fa fa-question-circle")
            |     Help
        div(id="themeDialog", class="noDisplay")
            form(action="/set-theme", method="GET")
                select(name="theme", class="form-control themeSelector")
                    option(value="") Metro (default)
                    option(value="superhero") Dark Metro
                    option(value="sandstone") Sandstone 
                    option(value="simplex") Simplex
                    option(value="readable") Readable
                    option(value="paper") Material
                    option(value="flatly") Flatly
                input(type="submit", class="btn btn-primary changeThemeButton")
                a(id="closeSettings", class="btn btn-danger") Close
        div(style="padding-top:20px;padding-bottom:10px;width:40%;margin:0 auto; width: 50%%;", id="stA")
        br
        div(class="noteTitleWrapper")
            input(type="text", id="dtitle", class="form-control", style="width:460px", onkeyup="updateInDocTitle();", placeholder="Note Title")
            br
            div(style="width:100%;height:450px;text-align:left", name="area", id="area", contenteditable="true", TabIndex = "-1", class="form-control")
                | <div id="idtitle"></div>
                | <div id="iddate"></div>
            
    script(src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js")
    script(src="/javascript/guid.js")
    script(src="/javascript/notes.js")
    script(src="/javascript/alert.js")
    script(src="/javascript/shortcut.js")

    script
        | shortcut.add("Ctrl+O",function() {
        |   openDocModal();
        | });
        | shortcut.add("Ctrl+S",function() {
        | 	saveArea();
        | });
