extends layout

block content
    div(style="text-align:center")
        a(href="/")
            img(src='/images/scribeline.png')
        br
        br
<<<<<<< HEAD
        a(class='btn btn-success', href="#")
            i(class="fa fa-file")
            |     Save
        &nbsp; &nbsp; &nbsp;
        a(class='btn btn-warning', href="#")
=======
        a(class='btn btn-success', href="/start")
>>>>>>> 65ec2a2... fix a auth and start on notes
            i(class="fa fa-book")
            |     Save As
        &nbsp; &nbsp; &nbsp;
        a(class='btn btn-danger', href="#")
            i(class="fa fa-file-text")
            |     New
        &nbsp; &nbsp; &nbsp;
        a(class='btn btn-info', href="#", id="help")
            i(class="fa fa-question-circle")
            |     Help
        div(style="padding-top:10px;padding-bottom:10px")

        br
        div(style='margin:0 auto; width: 70%; padding-top:50px')
            div(style="width:100%;height:450px;text-align:left", name="area", id="area", contenteditable="true", class="form-control")
                | Some notes...nice?
script(src="/javascript/alert.js")
script(src="/javascript/notes.js")
